.formulario-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    color: black;
    font-weight: 1000;
    width: 20em;
    height: 8em;
    background: linear-gradient(0deg, black 1%, rgba(0, 0, 0, 0) 50%), url("https://images.pexels.com/photos/261679/pexels-photo-261679.jpeg");
    background-size: cover;
    border-radius: 1em;
    box-sizing:border-box;
}

.menu-carrossel__item-container a{
    width: 40%;
}

.formulario-btn:hover{
    border: 2px dotted #000;
    background-size: 110%;
    transition: background-size 0.1s, border 0.1s;
}

h1, h6{
    padding: 0;
    margin: 0;
    text-align:center;
}

p{
    text-align:justify;
}

body{
    background-image: url(images/checkerOpt.svg);
    background-size: 2em 2em;
    animation: passiveSlide 1s linear infinite;
    padding:1em;
    font-family: Arial, Helvetica, sans-serif;
}

section, header{
    background: #1002;
    backdrop-filter:blur(3px);
    padding:0.5em;
    border-radius: 10px;
}

footer{
    text-align: center;
}

aside{
    background: #efe;
    padding:0.5em;
}

button{
    padding:0.5em 1em;
    border:none;
    border-radius: 50px;
}

td, th{
    padding: 1em;
    background: #0008;
    min-width:5em;
    text-align: center;
}

th{
    height:1em;
}

input[type="color"]{
    width: 16em;
}

button:hover{
    background:#333;
    color:#efe;
    transition: background-color 0.5s, color 0.1s;
}

.warning{
    background: #9002;
}

.menu-carrossel{
    width:100%;
}

.menu-carrossel__item-container{
    width:100%;
}

.form-txt-to-txt{
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    width: 50%;
}

.excetricSEO{
    width: 100%;
    background-color: #1002;
    border-radius: 10px;
    overflow:hidden;
    backdrop-filter:blur(3px);
    padding:0;
    margin:0;
    position:fixed;
    z-index: 3;
    bottom:0;
}

.brightSky{
    width:100%;
    height:50vh;
    position: relative;
    overflow:hidden;
    background:linear-gradient(0deg, white 20% , blue 100%);
}

.brightSky img {
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.svg-changes-hovered:hover{
    fill:#fff;
    stroke: #fff;
}

.icons-small{
    width:1em;
}

.layer4{
    background-image: url("images/cloudyExtraExtraBg.png");
    width:150%;
    position:absolute;
    top:25%;
    animation: passiveSlide2 4s linear infinite;
    height:100%;
    background-size: 1000px 500px;
    transform: rotateX(-45deg);
}
.layer3{
    background-image: url("images/cloudyExtraExtraBg.png");
    width:200%;
    position:absolute;
    top:30%;
    animation: passiveSlide2 8s linear infinite;
    height:100%;
    opacity:50%;
    background-size: 1000px 500px;
    transform: rotateX(-45deg);
}


.googleLetters{
    color:blue;
    text-shadow: 1px 1px 0 #000;
}

.googleLetters:nth-child(2){
    color:red;
}

.googleLetters:nth-child(3){
    color: #aa2;
}

.googleLetters:nth-child(5){
    color: green;
}

.googleLetters:nth-child(6){
    color: red;
}

@media (min-width: 32em){
}